nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
    .container
        .navbar-header.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
                i.fa.fa-bars
            a.navbar-brand(href='index.html')
                h1 MEIN BAU
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
            ul.nav.navbar-nav
                li.active
                    a(href='#intro') Info
                li
                    a(href='#about') Über uns
                li
                    a(href='#service') Leistung
                li
                    a(href='#price') Kosten
                li
                    a(href='#contact') Kontakt
section#intro.intro
    .slogan
        h2
            | WILLKOMMEN BEI <span class="text_color">MEINBAU</span>
        h4 SIE HABEN DEN AUFTRAG WIR FINDEN DIE MACHER
    .page-scroll
        a.btn.btn-circle(href='#about')
            i.fa.fa-angle-double-down.animated
// /Section: intro
// Section: about
section#about.home-section.text-center.bg-gray
    .heading-about
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .wow.bounceInDown(data-wow-delay='0.4s')
                        .section-heading
                            h2 Über uns
                            i.fa.fa-2x.fa-angle-down
    .container
        .row
            .col-lg-2.col-lg-offset-5
                hr.marginbot-50
        .row
            .col-lg-6.col-lg-offset-3
                .wow.fadeInLeft(data-wow-delay='0.2s')
                    p
                        | Sie haben ein Projekt oder Bauvorhaben das sie in nächster Zeit realisieren möchten? Sie haben aber nicht Zeit bzw. Kontakte zu
                        | relevanten Handwerk- oder Bauunternehmen in ihrer Umgebung die ihr Projekt umsetzen können?
                        | <br> <br> Als Bauwerber entstehen ihnen keine Kosten durch unser Service.

// Section: services
section#service.home-section.text-center.bg-gray
    .heading-about
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .wow.bounceInDown(data-wow-delay='0.4s')
                        .section-heading
                            h2 Unsere Leistungen
                            i.fa.fa-2x.fa-angle-down
    .container
        .row
            .col-lg-2.col-lg-offset-5
                hr.marginbot-50
        .row
            .col-sm-3.col-md-3
                .wow.fadeInLeft(data-wow-delay='0.2s')
                    .service-box
                        .service-icon
                            img(src='img/add.png', alt='')
                        .service-desc
                            h5 Erstellen
                            p
                                | Erstellen sie durch uns geführt eine Leistungsbeschreibung für ihr Projekt. Sie müssen keine Vorkenntnisse haben, jedoch ist es hilfreich wenn
                                | sie schon genau wissen was sie wollen. Dadurch bekommen sie vergleichbarere Angebote.
            .col-sm-3.col-md-3
                .wow.fadeInUp(data-wow-delay='0.2s')
                    .service-box
                        .service-icon
                            img(src='img/search.png', alt='')
                        .service-desc
                            h5 Einholen
                            p
                                | Sobald sie ihr Bauvorhaben erstellt haben kontaktieren wir die notwendingen Handwerk- bzw. Bauunternehmen
                                | die für die Fertigstellung ihres Projekts notwendig sind und holen ein Angebot ein.
            .col-sm-3.col-md-3
                .wow.fadeInUp(data-wow-delay='0.2s')
                    .service-box
                        .service-icon
                            img(src='img/statistics.png', alt='')
                        .service-desc
                            h5 Analyse
                            p
                                | Nachdem wir die Angebote von den verschiedenen Unternehmen eingeholt haben bereiten wir sie auf und analysieren
                                | sie. Es stehen auch verschiedene Auswertungsmöglichkeiten zur Verfügung um ihnen eine bestmögliche Kalkulation und Bewertung zu ermöglichen.
            .col-sm-3.col-md-3
                .wow.fadeInRight(data-wow-delay='0.2s')
                    .service-box
                        .service-icon
                            img(src='img/cloud.png', alt='')
                        .service-desc
                            h5 Ablage
                            p
                                | Wir speichern all ihre Bauvorhaben, Angebot, Bilder und Kommunikation. Dadurch haben sie alle Information
                                | die sie für die Koordinierung und Kalkulation ihres Projektes benötigen an einem Platz gesichert.
// /Section: services
// Section: contact
section#contact.home-section.text-center
    .heading-contact
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .wow.bounceInDown(data-wow-delay='0.4s')
                        .section-heading
                            h2 Haben Sie Fragen?
                            i.fa.fa-2x.fa-angle-down
    .container
        .row
            .col-lg-2.col-lg-offset-5
                hr.marginbot-50
        .row
            .col-lg-8
                .boxed-grey
                    form#contact-form
                        .row
                            .col-md-6
                                .form-group
                                    label(for='name')
                                        | Name
                                    input#name.form-control(type='text', placeholder='Namen eintragen', required='required')
                                .form-group
                                    label(for='email')
                                        | Email Adresse
                                    .input-group
                                        span.input-group-addon
                                            span.glyphicon.glyphicon-envelope
                                        input#email.form-control(type='email', placeholder='Email eintragen', required='required')
                                .form-group
                                    label(for='subject')
                                        | Betreff
                                    select#subject.form-control(name='subject', required='required')
                                        option(value='na', selected='') Wählen Sie:
                                        option(value='service') Generell
                                        option(value='suggestions') Anregungen
                                        option(value='product') Support
                            .col-md-6
                                .form-group
                                    label(for='name')
                                        | Nachricht
                                    textarea#message.form-control(name='message', rows='9', cols='25', required='required', placeholder='Nachricht')
                            .col-md-12
                                button#btnContactUs.btn.btn-skin.pull-right(type='submit')
                                    | Abschicken
            .col-lg-4
                .widget-contact
                    h5 Büro
                    address
                        strong Secinto
                        br
                        | Schönaugasse 8
                        br
                        | 8010 Graz
                        br
                        abbr(title='Phone') Tel:
                        |    0660 77 24 5 24
                    address
                        strong Email
                        br
                        a(href='mailto:#') office@secinto.com
                    address
                        strong Wir sind auf sozialen Netzwerken
                        br
                        ul.company-social
                            li.social-facebook
                                a(href='#', target='_blank')
                                    i.fa.fa-facebook
                            li.social-twitter
                                a(href='#', target='_blank')
                                    i.fa.fa-twitter
                            li.social-google
                                a(href='#', target='_blank')
                                    i.fa.fa-google-plus
// /Section: contact
footer
    .container
        .row
            .col-md-12.col-lg-12
                .wow.shake(data-wow-delay='0.4s')
                    .page-scroll.marginbot-30
                        a#totop.btn.btn-circle(href='#intro')
                            i.fa.fa-angle-double-up.animated
                p &copy; Copyright 2015 - Secinto
