#preloader
    #load
nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
    .container
        .navbar-header.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
                i.fa.fa-bars
            a.navbar-brand(href='index.html')
                h1 MEIN BAU
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
            ul.nav.navbar-nav
                li.active
                    a(href='#intro') Info
                li
                    a(href='#service') Leistung
                li
                    a(href='#price') Kosten
                li
                    a(href='#contact') Kontakt
